@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow: hidden;
	width: 100%;
}

.van-theme-dark body {
	color: #f5f5f5;
	background-color: black;
}

:root {
	--van-primary-color: #008080;
}

a {
	@apply text-blue-500;
}
